body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #FF4500;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body-vid {
  font-size: large;
  position: relative;
}
.vidbox1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: auto !important;
  z-index: -10;
}
